<%= form_for @snippet, html: {id: 'create-snippet-form'} do |f| %>
  <% if @snippet.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited
        this snippet from being saved:</h2>
      <ul>
      <% @snippet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :author, placeholder: 'Author' %>
  <%= f.text_field:title, placeholder: 'Title' %>
  <br />
  <%= f.text_area :code, placeholder: 'Code' %>
  <br />
  <%= f.submit %>
<% end %>
